* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {

  /* Colors */

  --main-color: #B80B06;
  --hover-color: #85221E;
  --lighter-salmon: #F79F9C;
  --text-color1: #FFF;
  --text-color2: #000;
  --bg-color: #332A2B;

  /* Gradients */

  --titles: linear-gradient(90deg, #B80B06 0%, #F79F9C 100%);

  /* Font sizes */

  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --title: 20px;

  /* Margins */

  --section-margins: 18px;
  --child-margins: 12px;

  /* Paddings */ 

  --button-padding: 4px 8px;
  --page-padding: 10px;
  --input-padding: 5px 10px;

  /* Boder radius */

  --radius: 6px;
}

/* Generic styles */ 

section {
  margin-top: var(--section-margins);
  padding: var(--page-padding);
}

article {
  margin-top: var(--child-margins);
}

.button {
  padding: var(--button-padding);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
  color: var(--text-color1);
  font-weight: bold;
  font-size: var(--sm);
}

.skeleton {
  width: 120px;
  height: 250px;
}

.skeleton_img {
  background-color: #DEDEDE;
  width: 100%;
  height: 180px;
}

.skeleton p {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin-top: 8px;
}

.skeleton p span {
  background-color: #DEDEDE;
  width: 50px;
  height: 16px;
  border-radius: 8px;
}

.subtitle {
  font-size: var(--lg);
  font-weight: bold;
  background: var(--titles);
  -webkit-background-clip: text;
  color: transparent;
}

/* Trending preview / Popular preview */

.trending-preview, .popular-preview {
  position: relative;
  margin-top:var(--section-margins) ;
}

.trending-preview::after, .popular-preview::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) -161.19%, rgba(255, 255, 255, 0.00) 13.3%, #FFF 94.83%);
  top: 0;
  right: 0;
}

.recommendations-preview {
  padding: 10px;
}

.recommendations-preview_list {
  margin-top: var(--child-margins);
}

.trending-preview_list, .popular-preview_list, .recommendations-preview_list {
  display: grid;
  gap: 0 8px;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
}

.trending-preview_header {
  display: flex;
  justify-content: space-between;
}

/* Search */

.search-results_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: var(--child-margins);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: var(--section-margins) 0 0 0;
  background-color: var(--bg-color);
  height: 60px;
}

footer p {
  color: gray;
}

footer p span {
  font-weight: bold;
  text-decoration: underline;
}


@media (min-width: 421px) {
  .movie-details_blur {
    padding: 10px 0;
  }
  .movie-details {
    border-radius: 10px;
  }
}

@media (min-width: 576px) {
  .search-results_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .search-results_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .trending-preview_list::-webkit-scrollbar,
  .popular-preview_list::-webkit-scrollbar {
    display: none;
  }
}