* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {

  /* Colors */

  --main-color: #B80B06;
  --hover-color: #85221E;
  --lighter-salmon: #F79F9C;
  --text-color1: #FFF;
  --text-color2: #000;
  --bg-color: #332B2A;

  /* Gradients */

  --titles: linear-gradient(90deg, #B80B06 0%, #F79F9C 100%);

  /* Font sizes */

  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --title: 20px;

  /* Margins */

  --section-margins: 18px;
  --child-margins: 12px;

  /* Paddings */ 

  --button-padding: 4px 8px;
  --page-padding: 10px;
  --input-padding: 5px 10px;

  /* Boder radius */

  --radius: 6px;
}

/* Generic styles */ 

section {
  margin-top: var(--section-margins);
  padding: var(--page-padding);
}

article {
  margin-top: var(--child-margins);
}

.button {
  padding: var(--button-padding);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
  color: var(--text-color1);
  font-weight: bold;
  font-size: var(--sm);
}

.skeleton {
  width: 120px;
  height: 250px;
}

.skeleton_img {
  background-color: #DEDEDE;
  width: 100%;
  height: 180px;
}

.skeleton p {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin-top: 8px;
}

.skeleton p span {
  background-color: #DEDEDE;
  width: 50px;
  height: 16px;
  border-radius: 8px;
}

.subtitle {
  font-size: var(--lg);
  font-weight: bold;
  background: var(--titles);
  -webkit-background-clip: text;
  color: transparent;
}

.movie {
  width: 120px;
}

.movie img {
  width: 120px;
}

.movie .movie_title {
  font-weight: bold;
}

.movie .movie_release-date {
  font-size: var(--sm);
}

.movie_rating::after {
  content: "⭐";
}

/* nav */

.barnav {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  background-color: var(--bg-color);
  padding: var(--page-padding);
  top: 0;
  left: 0;
  z-index: 10;
}

/* HEADER STYLES */

.app-header{
  width: 100%;
  padding: var(--page-padding) var(--page-padding) 0;
  margin-top: 60px;
}

.barnav h1{
  background: var(--titles);
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--title);
}

.search{
  display: flex;
  width: 100%;
  margin-top: var(--section-margins);
}

.search_bar {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid #808080;
  border-radius: var(--radius) 0 0 var(--radius);
  font-size: var(--sm);
  transition: .2s ease all;
}

.search_bar:focus {
  border: 1px solid var(--main-color);
  outline: 1px solid var(--main-color);
}

.search_button {
  width: 35px;
  height: 35px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 var(--radius) var(--radius) 0;
}

/* Trending preview */

.trending-preview, .popular-preview {
  position: relative;
  margin-top:var(--section-margins) ;
}

.trending-preview::after, .popular-preview::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) -161.19%, rgba(255, 255, 255, 0.00) 13.3%, #FFF 94.83%);
  top: 0;
  right: 0;
}

.trending-preview_list, .popular-preview_list {
  display: grid;
  gap: 0 8px;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
}

.trending-preview_list::-webkit-scrollbar, .popular-preview_list::-webkit-scrollbar {
  display: none;
}


.trending-preview_header {
  display: flex;
  justify-content: space-between;
}

/* Search */

.search-results_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: var(--child-margins);
}

/* Movie Details */

.movie-details {
  position: fixed;
  background-color: white;
  padding: 0;
  margin-top: 0;
  top: 0;
  z-index: 12;
  overflow-y:  scroll;
  max-height: 100%;
}

.movie_banner {
  width: 100%;
}

.movie_information {
  position: relative;
  background-color: white;
  overflow-y: scroll;
  padding: 10px 10px;
}

.movie_information_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  border-radius: var(--radius);
  background-color: #fff;
}

.movie_overview {
  overflow-y: scroll;
}

.back_button {
  position: absolute;
  font-size: 24px;
  color: var(--text-color1);
  font-weight: bold;
  left: 10px;
  top: 10px;
}

.view-more {
  margin-top: 8px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: var(--section-margins) 0 0 0;
  background-color: var(--bg-color);
  height: 60px;
}

footer p {
  color: gray;
}

footer p span {
  font-weight: bold;
  text-decoration: underline;
}

/* Animations */

.hide {
  animation: hidebar .2s linear forwards;
}

.show {
  animation: showbar .2s linear forwards;
}

.slidein {
  animation: slidein .2s linear forwards;
}

.slideout {
  animation: slideout .2s linear forwards;
}

@keyframes hidebar {
  from {
      top: 0;
  }
  to {
      top: -60px
  }
}

@keyframes showbar {
  from {
    top: -60px;
  }
  to {
      top: 0;
  }
}

@keyframes slidein {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@keyframes slideout {
  from {
    top: 0vh;
  }
  to {
    top: 100vh;
  }
}