* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

:root {
  --main-color: #FA5555;
  --text-color1: #FFF;
  --text-color2: #000;
  --bg-color: #FFCDCD;
  --fz-title: 20px;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

.inactive {
  display: none;
}

/* APP HEADER */

.app-header {
  padding: 10px 10px;
  width: 100%;
}

.app-title {
  font-size: var(--fz-title);
  color: var(--main-color);
  align-self:flex-start;
}

/* SEARCH */ 

.search-wrapper {
  margin: 16px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
}

.search_bar {
  height: 35px;
  width: 265px;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 5px 0px 0px 5px;
  padding: 10px 5px;
  transition: linear outline .2s;
}

.search_bar:focus {
  outline: 1px solid var(--main-color);
}

.search_bar::placeholder {
  color: var(--text-color1);
  font-weight: bold;
}

.search_button {
  height: 35px;
  width: 35px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0px 5px 5px 0px;
}

.search_button-wrapper {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 30px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: var(--text-color1);
  font-size: var(--sm);
  font-weight: bold;
  padding: 5px 10px;
}

/* APP BODY */ 

.trending, .categories {
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.app-subtitle {
  font-size: var(--md);
}

.trending_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.trending_list {
  height: 200px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  margin-top: 8px;
}

.movie-container {
  margin-right: 10px;
}

.movie-container img {
  height: 178px;
  width: 120px;
}

.categories_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 8px;
  gap: 8px;
}

.categories_list div {
  color: var(--main-color);
  font-weight: bold;
}

/* APP FOOTER */

.app-footer {
  height: 50px;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.copyright {
  color: var(--text-color1);
}

.author {
  text-decoration: underline;
  font-weight: bold;
}

/* Movies */

.back_button {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--text-color1);
}

.movie_banner {
  position: relative;
}

.banner_image {
  width: 100%;
}

.banner_blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000003d;
}

.movie_information {
  position: relative;
}

.movie_information__header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -10px;
  background-color: #FFF;
  border-radius: 10px;
  width: 100%;
  padding: 32px 24px 0px 24px;
}

.movie_title {
  font-size: var(--lg);
}

.movie_overview {
  margin: 48px 10px 0 10px;
  font-size: var(--md);
}

.movie_genres {
  margin-top: 8px;
  margin: 8px 10px;
  max-width: 100vw;
}

.genre {
  display: inline-block;
  margin-left: 10px;
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--md);
}